* {
	font-family: "Exo";
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.exp-marker {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	z-index: 20;
	color: rgb(var(--light));
	display: grid;
	opacity: 0.7;
	transition: opacity 0.1s;
}

.exp-marker:hover {
	opacity: 1;
}

.exp-marker .title {
	position: absolute;
	top: -20px;
	left: -20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: rgb(var(--dark));
	border: 1px solid rgb(var(--light));
	text-align: center;
	line-height: 40px;
	font-weight: 100;
	font-size: 14px;
	cursor: help;
	transform: scale(0, 0);
	transition: transform 0.3s;
	z-index: 2;
}

.exp-marker.visible .title {
	transform: scale(1, 1);
}

.exp-marker .content {
	width: 240px;
	padding: 40px 20px;
	border-radius: 20px;
	background: rgb(var(--dark));
	border: 1px solid rgb(var(--light));
	line-height: 1.3em;
	font-weight: 100;
	font-size: 14px;
	transition: opacity 0.3s, transform 0.3s;
	will-change: opacity, transform;
	transform: scale(0, 0);
	transform-origin: 0 0;
	z-index: 1;
}

.exp-marker:hover .content,
.exp-marker:hover .content {
	transform: scale(1, 1);
	background: rgba(var(--dark), 0.9);
}

@keyframes showWithTransition {
	0% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
