* {
	font-family: "Exo", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	display: none;
}

body {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.model-bubble {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	z-index: 999;
	color: rgb(var(--light));
	display: grid;
	opacity: .7;
	transition: opacity .1s;
}


.model-bubble:hover {
	opacity: 1;
}

.model-bubble .title {
	position: absolute;
	top: -20px;
	left: -20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: rgb(var(--dark));
	border: 1px solid rgb(var(--light));
	text-align: center;
	line-height: 40px;
	font-weight: 100;
	font-size: 14px;
	cursor: help;
	transform: scale(0, 0);
	transition: transform 0.3s;
	z-index: 2;
}


.model-bubble.visible .title {
	transform: scale(1, 1);
}

.model-bubble .content {
	width: 240px;
	padding: 40px 20px;
	border-radius: 20px;
	background: rgb(var(--dark));
	border: 1px solid rgb(var(--light));
	line-height: 1.3em;
	font-weight: 100;
	font-size: 14px;
	transition: opacity .3s, transform .3s;
	will-change: opacity, transform;
	transform: scale(0, 0);
	transform-origin: 0 0;
	z-index: 1;
}

.model-bubble:hover .content,
.model-bubble:hover .content {
	transform: scale(1, 1);
	background: rgba(var(--dark), 0.9);
}
