/* COLORS */
:root {
	/* use with rgb() or rgba(). E.g: rgb(18, 20, 21) */
	--dark: 18, 20, 21;
	/* use with rgb() or rgba(). E.g: rgb(244, 247, 245) */
	--light: 244, 247, 245;
	/* use with rgb() or rgba(). E.g: rgb(95, 68, 145) */
	--primary: 95, 68, 145;
	/* use with rgb() or rgba(). E.g: rgb(74, 156, 172) */
	--secondary: 74, 156, 172;
}
