:root {
	/* COLORS */
	/* To use with rgb() or rgba().*/

	--dark: 29, 29, 29;
	/* E.g: rgb(var(--dark))) -> rgb(29, 29, 29)  */

	--light: 244, 247, 245;
	/* E.g: rgb(var(--light))) -> rgb(244, 247, 245)  */

	--primary: 74, 156, 172;
	/* E.g: rgb((var(--primary))) -> rgb(74, 156, 172)  */

	--secondary: 112, 196, 212;
	/* E.g: rgb((var(--secondary))) -> rgb(112, 196, 212)  */
}
